@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --color: #941d576a;
}

body {
    background: #ffffff;
    padding-top: 7rem;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: .2s linear;
}

.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    background-color: #f7a9df1c;
    padding-top: 1rem;
    padding-bottom: 5rem; /* Added bottom padding for better spacing */
  
}

.about .img {
    flex: 1 1 20rem;
    padding-left: 5rem;
    margin-left: 3rem;
    padding:15rem;
   
}

.about .img img {
    width: 65%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    border: 2rem.1rem solid rgba(81, 3, 54, 0.7);
    margin-top:10rem;

    
}

.about .home {
    flex: 1 1 30rem;
}

.about .home h3 {
    font-size: 35px;
    font-style: italic;
    color: rgb(68, 3, 47);
}

.about .home p {
    color: #222;
    font-size: 2rem;
    line-height: 1.5; /* Corrected line-height */
    padding: 2rem;
    margin: 1rem;
    margin-right: 185px;
}

.home {
    padding-top: 15rem;
    position: relative;
}