

.feedback-section {
  box-shadow: rgba(59, 49, 49, 0.2) 20px 20px 20px 20px;
  margin: 10rem 10rem;
  padding: 15rem 10rem;
  background-color: rgba(241, 211, 171, 0.281);
  

}

.feedback-section h2{
  font-size: 2.4rem;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
} 
.feedback-section p{
  font-size: 2.7rem;
}

.rating {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3.2rem;
  margin: 4.8rem 0 3.2rem 0;
}

.rating h3 {
  text-align: center;
  font-size: 2rem;
}

.rating .child {
  cursor: pointer;
  transition: transform 0.3s;
}

.rating .child.active {
  transform: scale(1.2);
  color: #5e083d; /* Change color to indicate selection */
}

.child p:first-child {
  background-color: rgb(223, 219, 211);
  border-radius: 1rem;
  font-size: 5.6rem;
  padding: 1.6rem 2.4rem;
  cursor: pointer;
  margin-bottom: 1.2rem;
  transition: all 0.6s linear;
}
.child p:first-child:hover {
  transform: scale(1.15); /* Use transform instead of scale */
  box-shadow: rgba(22, 22, 22, 0.2) 7px 5px 8px 8px;
}

.feedback-btn {
  width: 100%;
  text-align: center;

}

.feedback-btn button{

padding: 1.2rem 3.2rem;
border: none;
outline: none;
cursor: pointer;
background-color: rgba(63, 4, 57, 0.434);
color: #240707;
font-size: 2rem;
border-radius: 0.5rem;
display: inline-block;
}




